*{
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: #282828;
}

form {
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    color: #333; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

h2 {
    margin-bottom: 0;
}

fieldset {
    border-color: yellow;
    border-radius: 5px;
}

button {
    margin: 15px;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: rgb(211, 145, 3);
    border: 1px solid rgb(211, 145, 3);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #9f5001; 
}


